<% var d = new Date() %>
<% var year = d.getFullYear() %>
<footer>
  <p class="copywright">&copy; <%= year %>, Matai's Music App</p>
  <a href="https://www.facebook.com/matai.cross/">
    <img class="facebook-img" src="/images/facebook_logo.png" alt="facebook logo" />
  </a>
  <a href="https://www.instagram.com/grantmatai/">
    <img class="instagram-img" src="/images/instagram.jpg" alt="instagram logo" />
  </a>
  <a href="https://www.youtube.com/channel/UCzwxT1G7fKteEkiSge9Gk-w">
    <p class="channel-link">Matai's YouTube Channel</p>
  </a>
</footer>