<header id="top-header">
  <span class="siteName">
    <a class="matais_music_button" href="/" title="Return to home page">Matai's Music</a>
  </span>
  <div id="tools">
    <a class="login" title="Click to log in" href="/account/login">My Account</a>
  </div>
</header>
